@model IEnumerable<ZarOH.Models.Room>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rooms</h2>
<p>
    @Html.ActionLink("New Room", "AddRoom", "Rooms", null, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Add Room", "AddRoom", "Rooms", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
        {
        <tr>
            <td>@Html.ActionLink(room.RoomType.Name, "Edit", "Rooms", new { id = room.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>