@model IEnumerable<ZarOH.Models.Room>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rooms</h2>


<table id="rooms" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Room Id</th>
            <th>Room Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#rooms").DataTable({
                ajax: {
                    url: "/api/rooms",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "roomType.name"
                    }

                ]

            });

        });
    </script>    
    
}